body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  text-align: center;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}

select {
  margin: 5px auto;
  padding: 8px;
  font-size: 16px;
}


#nameSearch {
  padding: 8px;
  font-size: 16px;
  width: 200px;
  margin: 20px auto;
  display: block;
}


.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 10px;
}



.pokemon-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.card p {
  font-size: 0.95rem;
}


.pokemon-grid {
  display: grid;

  /* ✅ 縦スクロールの基本形 */
  grid-template-columns: repeat(8 auto, 1fr); /* 2列 */



  gap: 24px;
  padding: 24px;

  width: 100%;
}



.pokemon-image {
  width: 100%;
  max-width: 160px;   /* ← 超重要 */
  display: block;
  margin: 0 auto;
}


.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  width: auto;
  box-sizing: border-box;
}


.type-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  vertical-align: middle;
  margin-left: 5px;
}

.berry-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  vertical-align: middle;
  margin-left: 5px;
}

.ingredient-images {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 16px;
  
}

.ingredient-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: flex;
}

.sleep-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
}

.specialty-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
}

/*とくいごとの色分け*/
.specialty-きのみ {
  background-color: #6eff6e; /* やさしい黄色 */
  color: #006411;
}

.specialty-食材 {
  background-color: #ffd95b; /* やさしい黄色 */
  color: #856404;
}

.specialty-スキル {
  background-color: #9ce8ff; /* やさしい黄色 */
  color: #1c2ec9;
}

.specialty-オール {
  background-color: #ff8080; /* やさしい黄色 */
  color: #ad0505;
}


/* 睡眠タイプごとの色分け */
.sleep-うとうと {
  background-color: #ffe89c; /* やさしい黄色 */
  color: #856404;
}

.sleep-すやすや {
  background-color: #bbffff; /* やさしい青 */
  color: #0c5460;
}

.sleep-ぐっすり {
  background-color: #6ea9ec; /* やさしい緑 */
  color: #080bb1;
}


@media screen and (max-width: 480px) {
  .pokemon-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6px;
    padding: 6px;
  }

  .pokemon-image {
    max-width: 90px;
  }

  .ingredient-icon {
    width: 30px;
    height: 30px;
  }

  .pokemon-name {
    font-size: 0.9rem;
    font-weight: normal;
  }
}
